@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin lessThan($deviceWidth){
	@media screen and (max-width:#{$deviceWidth}){
		@content;
	}
}

@mixin moreThan($deviceWidth){
	@media screen and (min-width:#{$deviceWidth}){
		@content;
	}
}