@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInS {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromRight {
    0% {
        transform: translateX(2rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInFromTop {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInFromBottom {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes infiniteGoDown {
    0% {
        transform: translateY(-6rem);
    }
    50% {
        transform: translateY(0rem);
    }
    90% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(10rem);
    }
}